#error-404,
#maintenance
	align-items: center
	justify-content: center
	min-height: 100vh
	text-align: center
	@include _flexbox()

	h1
		color: $White
		margin-bottom: 30px

	p
		margin-bottom: 50px
