.areas

	@include _breakpointMax($BreakpointTabletSm)

		.order-first
			margin-top: 30px
			order: 1

	ul
		font-size: .8em
		font-weight: 600
		letter-spacing: 2px
		list-style: none
		margin: 0
		padding: 0
		text-transform: uppercase
		@include _columns(auto, 2)

		li
			margin-bottom: 7.5px

			span
				border-bottom: 1px solid $PrimaryColor
