// Services

.home-services
	padding: 60px 0
	&-yellow
		background: $SecondaryColor

	.router-image
		background: url('../images/router.png') 0 0 no-repeat
		background-size: cover
		height: 408px
		position: absolute
		right: 25%
		top: 50%
		width: 136px
		@include _transform(translateY(-55%))

		@include _breakpointMax($BreakpointTabletSm)
			display: none

// Services List

.home-services-list
	padding: 80px 0

// Service Areas

.home-service-areas
	padding: 60px 0

	@include _breakpointMax($BreakpointTabletSm)
		.order-first
			margin-top: 30px
			order: 1
