.order-form-toggle
	border-bottom: 1px solid #afafaf
	margin-top: 60px
	padding-bottom: 10px
	position: relative
	text-align: center
	@include _flexbox()

	&::after
		background: $PrimaryColor
		content: ''
		height: 3px
		position: absolute
		top: 100%
		width: 50%
		@include _transition(all, .6s, ease)
		@include _transform(translateY(-1px))

	&[data-current-view="service"]::after
		left: 0

	&[data-current-view="contact"]::after
		left: 50%


	a
		color: $Grey
		font-size: _pxToEm(13px)
		letter-spacing: 2px
		text-decoration: none!important
		text-transform: uppercase
		@include _flex(0 0 50%)
		@include _transition()

		&:hover,
		&.current-view
			color: $Black

.order-form
	@include _clearfix()

.order-form-wrapper
	float: left
	width: 50%

	@include _breakpointMax($BreakpointTablet)
		width: 100%

	> div
		display: none

	&[data-current-view="service"]

		div[data-view="service"]
			display: block!important

	&[data-current-view="contact"]

		div[data-view="contact"]
			display: block!important
			margin-bottom: 60px

.order-form-summary
	float: right
	width: 45%

	@include _breakpointMax($BreakpointTablet)
		width: 100%

	.order-form-summary-container
		background: $SecondaryColor
		border-radius: 5px
		position: relative
		top: auto
		z-index: 1

		&.fixed
			position: fixed
			top: 60px

	.order-form-summary-inner
		padding: 30px

		h2
			font-size: _pxToEm(26px)

		h3
			font-size: _pxToEm(20px)

			span
				display: block
				font-family: $PrimaryFont
				font-size: .6em
