#thank-you

	img
		display: block
		margin: 0 auto
		max-width: 185px
		width: 100%

		@include _breakpointMax($BreakpointTabletSm)
			margin: 0 auto 30px

	.order-first
		@include _breakpointMax($BreakpointTabletSm)
			order: 0
