// Generic

.aligncenter
	text-align: center

.alignwide
	max-width: 100vw
	width: auto

	@media(min-width:960px)
		margin: 0 -200px

.alignfull
	margin: 0 calc(50% - 50vw)
	max-width: 100vw
	width: 100vw

.block
	margin-bottom: 60px

	&:last-child
		margin-bottom: 0

.wp-block-separator
	width: 100%

	&.is-style-wide
		max-width: 100vw
		width: auto

		@media(min-width:960px)
			margin: 0 -200px

.wp-block-button__link
	background-color: transparent
	border: solid 3px #ffa400
	border-radius: 50px
	color: $TextColor!important
	font-size: .8em
	font-weight: 700
	letter-spacing: 1px
	padding-right: 30px
	position: relative
	text-transform: uppercase
	@include _transition()

	&:after
		background: url(../images/icon-more-alt-dark.svg) 50% no-repeat
		background-size: 16px
		content: ""
		display: inline-block
		height: 16px
		margin-left: 20px
		position: relative
		top: 3px
		width: 16px
		transition: all .15s linear

	&:hover
		color: #fff!important
		text-decoration: none
		@include _gradientDiagonal(#ffa400, #ff8100)

		&:after
			background-image: url(../images/icon-more-alt-light.svg)
			transform: translate(2.5px)
			transform-origin: left top

// Card
.card
	background-color: #eee
	border: none
	border-radius: 10px

.card-img-top
	border-top-left-radius: 10px
	border-top-right-radius: 10px

a.card
	color: $TextColor
	text-decoration: none!important
	@include _transition()

	&:hover
		background-color: #ffa400

.wp-block-columns

	.card
		height: 100%

// Eyebrow

.eyebrow
	color: #9d9d9d
	display: block
	font-family: Montserrat,sans-serif
	font-size: .9rem
	letter-spacing: 2px
	text-transform: uppercase
	font-weight: 500
	line-height: 1.25

// Service

.service-block
	padding: 60px 0

	&:last-child
		margin-bottom: 0

	@include _breakpointMax($BreakpointTablet)
		.order-first
			order: 1

		.service-image
			margin-bottom: 30px

.service-icon
	max-width: 100px
	width: 100%

	@include _breakpointMax($BreakpointTabletSm)
		margin-bottom: 30px

	@include _breakpointMax($BreakpointMobile)
		max-width: 50px

body.home .service-block
	border: none!important
	margin-bottom: 60px
	padding: 0

.wp-block-column
	margin-bottom: 40px

	.service-block

		.col-md-2,
		.col-md-10
			flex: 0 0 100%
			max-width: 100%

		.service-icon
			max-width: 64px
			margin-bottom: 20px

		h3
			font-size: 1.25rem

// Event

.event-block
	border: 1px solid $Black
	border-radius: 5px
	color: inherit
	display: block
	padding: 20px
	text-decoration: none!important

	@include _breakpointMax($BreakpointTabletSm)
		margin-bottom: 30px

	&:hover
		color: inherit
		@include _opacity(.5, 50)
		@include _transition()

	.event-date
		color: #9d9d9d
		display: block
		font-family: $PrimaryFont
		font-size: .85em
		letter-spacing: 2px
		margin-bottom: 10px
		text-transform: uppercase

		strong
			display: block

	address
		font-size: .85em
		margin-bottom: 0

// Process

.process-block
	margin-bottom: 60px

.process-icon
	border: 3px solid #ffdda1
	border-radius: 50%
	margin-bottom: 30px
	max-width: 100px
	width: 100%

	&.process-icon-sm
		max-width: 60px

	@include _breakpointMax($BreakpointTabletSm)
		margin-bottom: 30px

	@include _breakpointMax($BreakpointMobile)
		max-width: 50px

// Team

.team

	h2
		margin-bottom: 10px!important

.team-member-block
	margin-bottom: 60px
	position: relative

	&:last-child
		margin-bottom: 0

	&::after
		background: $Grey
		bottom: 0
		content: ''
		height: 1px
		left: 15px
		position: absolute
		right: 15px

.team-image
	@include _breakpointMax($BreakpointTabletSm)
		margin-bottom: 30px

.team-contact-links
	margin: 30px 0

	a
		//color: $Grey
		color: $Black
		display: inline-block
		font-weight: 700
		padding-left: 50px
		position: relative
		text-decoration: none!important
		text-transform: uppercase
		@include _transition()

		&:hover
			color: $PrimaryColor

		&::before
			background-position: 50%
			background-repeat: no-repeat
			background-size: 105%
			border: 2px solid #ffdda1
			border-radius: 50%
			content: ''
			height: 40px
			left: 0
			position: absolute
			top: 50%
			width: 40px
			@include _transform(translateY(-50%))

		&.call::before
			background-image: url('../images/icon-team-call.svg')

		&.email::before
			background-image: url('../images/icon-team-email.svg')

		&.follow::before
			background-image: url('../images/icon-team-follow.svg')

// Location

.location-block
	margin-bottom: 30px

	h3
		font-family: $PrimaryFont
		font-size: 1em
		font-weight: 700
		margin-top: 30px
		text-transform: uppercase

	address
		font-size: _pxToEm(12px)

// Testimonial

.testimonial-block
	background: $SecondaryColor
	padding: 60px 0

	@include _breakpointMax($BreakpointTabletSm)

.testimonial
	margin: 0 auto
	max-width: 770px
	text-align: center
	width: 100%

	.testimonial-text
		font-family: $HeadingFont
		font-size: _pxToEm(42px)
		font-weight: 500
		line-height: 1.15
		margin-bottom: 40px
		position: relative

		@include _breakpointMax($BreakpointTabletSm)
			font-size: _pxToEm(32px)

		@include _breakpointMax($BreakpointMobile)
			font-size: _pxToEm(22px)

		&::before
			background: url('../images/icon-quote.svg') 0 0 no-repeat
			background-size: cover
			content : ''
			height: 67px
			left: 0
			position: absolute
			top: 0
			width: 82px
			@include _opacity(.15, 15)
			@include _transform(translateY(-25%))

		&::after
			background: $PrimaryColor
			bottom: -20px
			content : ''
			height: 3px
			left: 50%
			position: absolute
			width: 100px
			@include _transform(translateX(-50%))

// Support

.support-block
	margin-bottom: 30px

	a
		background: #efefef
		border-radius: 5px
		color: $Black
		display: block
		text-decoration: none!important
		@include _transition()

		&:hover
			background: $PrimaryColor

	h3
		font-size: _pxToEm(21px)

	img
		border-radius: 5px 5px 0 0
		display: block

	.support-block-content
		padding: 20px

// Order Form

.order-form-block
	margin-bottom: 60px

	&:last-child
		margin-bottom: 0

	h3
		margin-bottom: 30px

	p
		margin-bottom: 30px

	ul.service-list
		list-style: none
		margin: 0
		padding: 0

		li
			margin-bottom: 5px

			&:last-child
				margin: 0

.order-form-option-block
	border-bottom: 1px solid $Grey
	margin-bottom: 15px
	padding-bottom: 15px

	@include _breakpointMax($BreakpointTabletSm)
		font-size: _pxToEm(13px)

		.btn
			font-size: _pxToEm(15px)

	&.order-form-option-block-no-border
		border: none
		padding-bottom: 0

		.row
			margin-left: -10px
			margin-right: -10px

		.col-sm-6
			padding-left: 10px
			padding-right: 10px

	h4
		font-family: $PrimaryFont
		font-size: _pxToEm(15px)
		font-weight: 700
		margin-bottom: 20px
		position: relative
		text-transform: uppercase

		@include _breakpointMax($BreakpointTabletSm)
			font-size: _pxToEm(17px)

		span
			font-weight: normal
			position: absolute
			right: 0
			top: 0

	.col-6,
	.col-5,
	.col-4

		button
			margin-right: 25px

		&:last-child
			text-align: right

	.col-sm-6
		margin-bottom: 30px
		position: relative

		&::after
			border: 1px solid $Grey
			border-radius: 5px
			content: ''
			height: 100%
			left: 10px
			position: absolute
			right: 10px
			top: 0
			z-index: -1
			@include _transition()

		&:hover::after,
		&.selected::after
			border-color: $PrimaryColor

		.channels-select
			background: none
			border: none
			display: block
			outline: none!important
			padding: 20px
			text-align: left
			width: 100%

			h5
				margin-bottom: 10px

			ul
				font-size: .85em
				list-style: none
				margin: 0
				min-height: 250px
				padding: 0

				@include _breakpointMax($BreakpointTabletSm)
					min-height: 205px

				@include _breakpointMax(575px)
					margin-bottom: 20px
					min-height: 0

.summary-block
	border-bottom: 1px solid $GreyDark
	margin-bottom: 15px
	padding-bottom: 10px

	&:last-child
		border-bottom: none
		margin-bottom: 0
		padding-bottom: 0

	p
		font-size: .9em
		font-weight: 400
		text-transform: uppercase

	ul
		list-style: inside disc
		margin: 0
		padding: 0
		font-size: .85em

		li
			position: relative

			&.no-selection
				@include _opacity(.25, 50)

			a
				color: $PrimaryColor
				font-size: .9em
				font-style: italic
				padding-left: 5px

			span
				position: absolute
				right: 0
				top: 0

.summary-total
	font-weight: bold
	margin-bottom: -25px
	position: relative

	sup
		font-size: _pxToEm(32px)
		font-weight: normal
		top: -.75em

		&::after
			content: '/MO.'
			font-size: 10px
			font-weight: bold
			left: 0
			position: absolute
			top: 110%

	sub
		bottom: 4px
		font-size: _pxToEm(10px)
		left: -3em

	.dollars
		font-size: _pxToEm(64px)

		&::before
			content: '$'
			display: inline
			font-size: 32px
			font-weight: normal
			position: relative
			top: -.4em

// Pricing Block

.pricing-block
	margin-bottom: 60px
	position: relative
	max-width: 300px

	&:not(:last-child)::after
		background: #d8d8d8
		content: ''
		height: 100%
		position: absolute
		right: 0
		top: 0
		width: 1px

	@include _breakpointMax($BreakpointTablet)

		&:not(:nth-child(odd))::after
			display: none

	@include _breakpointMax(575px)

		&::after
			display: none

	&:not(.pricing-block-lg)

		.pricing-block-inner
			margin: 0 auto
			max-width: 200px
			width: 100%

	.price-heading
		padding-top: 40px
		position: relative

		.best-value-marker
			background: $PrimaryColor
			border-radius: 0 25px 25px 0
			color: $White
			font-size: _pxToEm(13px)
			font-weight: bold
			left: -15px
			letter-spacing: 2px
			padding: 5px 30px
			position: absolute
			text-transform: uppercase
			top: 0

		h3
			font-family: $PrimaryFont
			font-size: _pxToEm(13px)
			font-weight: bold
			text-align: center
			text-transform: uppercase

	.price-total
		font-weight: bold
		margin: 0 auto 15px
		position: relative
		text-align: center

		sup
			font-size: _pxToEm(32px)
			font-weight: normal
			top: -.75em

			&::after
				content: '/MO.'
				font-size: 10px
				font-weight: bold
				left: 0
				position: absolute
				top: 110%

		sub
			bottom: 4px
			font-size: _pxToEm(10px)
			left: -3em

		.dollars
			font-size: _pxToEm(64px)

			&::before
				content: '$'
				display: inline
				font-size: 32px
				font-weight: normal
				position: relative
				top: -.4em

	.pricing-details
		margin-bottom: 30px
		min-height: 95px
		text-align: left

		@include _breakpointMax(575px)
			min-height: 0

		ul
			list-style: none
			margin: 0
			padding: 0

			li
				border-bottom: 1px solid $GreyDark
				margin-bottom: 5px
				padding-bottom: 5px

				strong
					padding-right: 10px

	.pricing-cta
		text-align: center
