.btn
	background: none
	border: none
	border-radius: 50px
	box-shadow: none!important
	font-size: _pxToEm(12px)
	font-weight: 700
	letter-spacing: 1px
	outline: none!important
	padding: 10px 35px
	position: relative
	text-transform: uppercase
	-webkit-appearance: none
	@include _transition()

	&.btn-primary
		padding: 3px
		@include _gradientDiagonal(#ffa400, #ff8100)

		span
			background: $White
			border-radius: 50px
			color: $Black
			display: block
			padding: 10px 35px
			@include _transition()

			@include _breakpointMax($BreakpointMobile)
				padding: 8px 25px 10px

			&::after
				background: url('../images/icon-more-alt-dark.svg') center center no-repeat
				background-size: 16px
				content: ''
				display: inline-block
				height: 16px
				margin-left: 20px
				position: relative
				top: 3px
				width: 16px
				@include _transition()

		&.btn-yellow

			span
				background: $SecondaryColor

		&:hover,
		&:active,
		&:focus

			span
				background: transparent
				color: $White

				&::after
					background-image: url('../images/icon-more-alt-light.svg')
					@include _transform(translate(2.5px, 0))

	&.btn-text
		padding: 0

		&::before
			background: $PrimaryColor
			bottom: 0
			content: ''
			height: 1px
			left: 0
			position: absolute
			width: 100%

		&::after
			background: url('../images/icon-more-alt.svg') center center no-repeat
			background-size: 16px
			content: ''
			height: 16px
			position: absolute
			right: -25px
			top: 50%
			width: 16px
			@include _transition()
			@include _transform(translate(0, -50%))

		&:hover
			color: $Grey

			&::after
				@include _transform(translate(2.5px, -50%))

		&.btn-text-back
			margin-left: 25px

			&::after
				left: -25px
				@include _transform(rotate(180deg) translate(0, 50%), center center)

			&:hover::after
				@include _transform(rotate(180deg) translate(2.5px, 50%), center center)

	&.btn-sm span
		padding: 7.5px 25px

	&.btn-submit,
	&.btn-load-more

		.spinner
			display: none

		&.submitting

			span
				background: transparent
				color: transparent

				&::after
					@include _opacity()

			.spinner
				display: block
