.main-footer

	h5
		margin-bottom: 15px

	p
		font-size: _pxToEm(11px)
		margin-bottom: 0

	a
		color: $Black

	ul
		list-style: none
		margin: -1px 0 0
		padding: 0

		li
			font-size: _pxToEm(11px)
			line-height: normal
			margin: 0 0 5px

			&:last-child
				margin-bottom: 0

	.main-footer-header
		border-bottom: 1px solid #ffe0a7
		border-top: 2px solid $PrimaryColor
		padding: 25px 0

	.main-footer-body
		padding: 25px 0

	.main-footer-colophon
		border-top: 1px solid #ffe0a7
		padding: 15px 0

		p, a
			color: $GreyLight

.footer-brand
	@include _breakpointMax($BreakpointTablet)
		display: none

.footer-phone
	text-transform: uppercase
	text-align: center

	@include _breakpointMax($BreakpointTablet)
		text-align: left

	@include _breakpointMax($BreakpointTabletSm)
		margin-bottom: 20px
		text-align: center

.footer-socials
	height: 30px
	text-align: right

	@include _breakpointMax($BreakpointTabletSm)
		text-align: center

	a
		border: 1px solid #ffdda1
		border-radius: 50%
		color: $PrimaryColor
		margin: 0 4px
		@include _transition()

		&:last-child
			margin-right: 0

		&:hover
			background: $PrimaryColor
			border-color: $PrimaryColor
			color: $White

.credit
	display: inline-block
	position: relative
	text-indent: -999em
	width: 25px

	&::after
		background: url('../images/502.svg') 0 0 no-repeat
		background-size: 100%
		content: ''
		height: 21px
		left: 0
		position: absolute
		top: 50%
		width: 25px
		@include _transform(translateY(-50%))

@include _breakpointMax($BreakpointTablet)
	.footer-locations
		border-bottom: 1px solid #ffe0a7
		margin-bottom: 25px
		padding-bottom: 25px
		text-align: center

	.footer-site-info
		text-align: right

@include _breakpointMax($BreakpointTabletSm)
	.footer-locations

		.col-md-4
			margin-bottom: 25px

			&:last-child
				margin-bottom: 0

	.main-footer-colophon
		text-align: center

		.col-md-4
			margin-top: 7.5px
			text-align: center!important
