.main-header
	background: $White
	box-shadow: 0 2px 4px rgba($Black, .5)
	position: relative
	z-index: 5

	@include _breakpointMax($BreakpointTabletSm)
		align-items: center
		height: 69px
		@include _flexbox()

		.col
			position: relative

		.col-9
			display: none

.main-brand
	align-items: center
	height: 100%
	max-width: 200px
	width: 100%
	@include _flexbox()

	@include _breakpointMax($BreakpointTablet)
		max-width: 150px

	@include _breakpointMax($BreakpointTabletSm)
		max-width: 185px

	img
		width: 100%

		&.brand-mobile
			display: none

		@include _breakpointMax($BreakpointTabletSm)

			&.brand-mobile
				display: block

			&.brand-desktop
				display: none

.mobile-nav-trigger
	display: none
	height: 36px
	position: absolute
	right: 15px
	top: 50%
	width: 36px
	@include _transform(translate(0, -50%))

	@include _breakpointMax($BreakpointTabletSm)
		display: block

	button
		background: none
		border: 1px solid #ffdda1
		border-radius: 50%
		cursor: pointer
		height: 36px
		outline: none!important
		padding: 0
		width: 36px
		@include _transition()

		&:hover
			@include _opacity(.5, 50)

		span
			background: $PrimaryColor
			border-radius: 50px
			height: 2px
			left: 50%
			position: absolute
			top: 50%
			width: 17px
			@include _transform(translate(-50%, -50%))

			&::before,
			&::after
				background: $PrimaryColor
				border-radius: 50px
				content: ''
				height: 2px
				left: 0
				position: absolute
				width: 100%

			&::before
				top: -6px

			&::after
				bottom: -6px

	&.mobile-nav-trigger-close
		right: 0

		span
			background: none

			&::before
				//top: 1px
				transform: matrix3d(0.7071, 0.7071, 0, 0, -0.7071, 0.7071, 0, 0, 0, 0, 1, 0, 0, 6, 0, 1)

			&::after
				//bottom: 1px
				transform: matrix3d(0.7071, -0.7071, 0, 0, 0.7071, 0.7071, 0, 0, 0, 0, 1, 0, 0, -6, 0, 1)

.menu-utility-nav-container,
.menu-main-nav-container,
.menu-mobile-bill-pay-container
	font-size: _pxToEm(17px)
	font-weight: 600
	letter-spacing: 2.4px
	text-align: right
	text-transform: uppercase

	@include _breakpointMax($BreakpointTablet)
		font-size: _pxToEm(14px)

	ul
		list-style: none
		margin: 0
		padding: 30px 0

		li
			display: inline-block
			margin: 0 20px

			@include _breakpointMax($BreakpointTablet)
				margin: 0 10px

			&:first-child
				margin-left: 0

			&:last-child
				margin-right: 0

			a
				color: $Black
				text-decoration: none!important
				@include _transition()

				&:hover
					color: $Grey

.menu-utility-nav-container,
.menu-mobile-bill-pay-container
	font-size: _pxToEm(11px)
	font-weight: 400

	@include _breakpointMax($BreakpointTablet)
		font-size: _pxToEm(10px)

	ul
		padding: 25px 0

		li
			margin: 0 15px
			position: relative

			@include _breakpointMax($BreakpointTablet)
				margin: 0 5px

			&:last-child
				font-weight: 700
				padding-right: 25px

				a
					border-bottom: 1px solid $PrimaryColor
					position: relative

				&::after
					background: url('../images/icon-more-alt.svg') center center no-repeat
					background-size: 16px
					content: ''
					height: 16px
					position: absolute
					right: 0
					top: 50%
					width: 16px
					@include _transition()
					@include _transform(translate(0, -50%))

				&:hover::after
					@include _transform(translate(2.5px, -50%))

.menu-main-nav-container

	ul
		border-top: 1px solid $Grey
		display: inline-block
		padding-bottom: 20px

		li

			a
				display: block
				margin-bottom: 10px

			&.menu-item-has-children
				position: relative

				.sub-menu
					background: $White
					border-radius: 0 0 4px 4px
					border-top: 4px solid $PrimaryColor
					box-shadow: 0 0 6px #afafaf
					font-size: 15px
					font-weight: 400
					padding: 15px
					pointer-events: none
					position: absolute
					left: 50%
					letter-spacing: 0
					min-width: 175px
					text-align: left
					text-transform: none
					top: 100%
					@include _opacity()
					@include _transition()
					@include _transform(translate(-50%, 10px))

					li
						display: block
						margin: 0 0 10px

						&:last-child
							margin-bottom: 0

						a
							margin-bottom: 0

			&:hover

				.sub-menu
					pointer-events: auto
					@include _opacity(1, 100)
					@include _transform(translate(-50%, 0))

// Mobile Nav

.mobile-navigation
	background: $White
	height: 100%
	overflow: scroll
	pointer-events: none
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10
	@include _opacity()
	@include _transition(all, .25s)
	//@include _transform(translateX(100%))

	.mobile-navigation-inner
		padding: 22px 0

.mobile-nav-header
	margin-bottom: 30px
	position: relative

.mobile-nav-body

	.menu-utility-nav-container,
	.menu-main-nav-container,
	.menu-mobile-bill-pay-container
		text-align: left

		ul
			border: none

			li
				display: block
				margin: 0 0 15px

				&:last-child
					margin-bottom: 0

	.menu-mobile-bill-pay-container
		border-bottom: 1px solid $Grey
		border-top: 1px solid $Grey

		ul
			padding: 15px 0

			li
				margin: 0
				max-width: 95px

	.menu-utility-nav-container,

		ul
			padding-top: 0

			li:last-child
				display: none

body.mobile-navigation-visible

	.mobile-navigation
		pointer-events: auto
		@include _opacity(1, 100)
		//@include _transform(translateX(0))
