.main-content
	min-height: 600px

.sub-section
	padding: 80px 0

.page-content,
.section-intro,
.section-pre-intro
	padding: 200px 0 80px
	text-align: center

	@include _breakpointMax($BreakpointTabletSm)
		padding-top: 120px

.page-content
	text-align: left

	img.featured-image
		display: block
		margin: 40px auto

	&.page-content-no-marquee
		padding-top: 80px

		@include _breakpointMax($BreakpointTabletSm)
			padding-top: 80px

.section-pre-intro
	background: $SecondaryColor
	margin-bottom: 80px
	text-align: left

	@include _breakpointMax($BreakpointTabletSm)
		.order-first
			margin-top: 30px
			order: 1

.sub-section

	&.sub-section-yellow
		background: $SecondaryColor

		.btn

			span
				background: $SecondaryColor

			&:hover,
			&:active,
			&:focus

				span
					background: transparent
					color: $White
