.marquee
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	//height: 31.25vw
	height: 450px
	position: relative

	@include _breakpointMax($BreakpointTabletSm)
		height: 300px

	&::after
		background: url('../images/marquee-overlay.svg') center bottom no-repeat
		background-size: 102%
		content: ''
		height: 100%
		left: 0
		position: absolute
		top: 1px
		width: 100%

	&.marquee-alt

		&::after
			background-image: url('../images/marquee-overlay-yellow.svg')

	h1
		font-family: $PrimaryFont
		font-size: _pxToEm(30px)
		font-weight: 700
		letter-spacing: 6px
		line-height: 1.25
		text-transform: uppercase
		width: 100%

		@include _breakpointMax($BreakpointTabletSm)
			font-size: 1.5em

.marquee-medallion
	align-items: center
	border-radius: 50%
	height: 350px
	left: 50%
	padding: 40px
	position: absolute
	text-align: center
	top: 100%
	width: 350px
	z-index: 1
	@include _flexbox()
	@include _transform(translate(-50%, -75%))

	@include _breakpointMax($BreakpointTabletSm)
		height: 275px
		width: 275px

	&::before
		border-radius: inherit
		bottom: 0
		content: ''
		left: 0
		margin: -20px
		position: absolute
		right: 0
		top: 0
		z-index: -2
		@include _gradientDiagonal(#ffa400, #ff8100)

		@include _breakpointMax($BreakpointTabletSm)
			margin: -15px

	&::after
		background: $White
		border-radius: inherit
		bottom: 0
		box-shadow: 0 0 7px rgba(#000, .5)
		content: ''
		left: 0
		position: absolute
		right: 0
		top: 0
		z-index: -1

	> div
		position: relative
		z-index: 1
		width: 100%

	.btn.btn-sm span
		padding: 7.5px 15px 8.5px

body.home .marquee

	h1
		font-family: $HeadingFont
		font-size: _pxToEm(36px)
		font-weight: 500
		line-height: 1.25
		letter-spacing: normal
		margin-bottom:  25px
		text-transform: none

		@include _breakpointMax($BreakpointTabletSm)
			font-size: _pxToEm(27px)
