.modal-open
	position: fixed

.modal-backdrop
	background-color: rgba(#000, .85)

	&.show
		@include _opacity(1, 100)

.modal
	overflow-y: scroll
	-webkit-overflow-scrolling: touch

.modal-dialog
	padding: 0
	width: 350px

	@include _breakpointMax($BreakpointTabletSm)
		height: 275px
		width: 275px

	&.modal-dialog-centered
		margin: 0 auto

.modal-content
	align-items: center
	border: none
	border-radius: 50%
	flex-direction: initial
	height: 350px
	padding: 40px
	text-align: center
	width: 350px
	z-index: 1
	@include _flexbox()

	@include _breakpointMax($BreakpointTabletSm)
		height: 275px
		width: 275px

	&::before
		border-radius: inherit
		bottom: 0
		content: ''
		left: 0
		margin: -20px
		position: absolute
		right: 0
		top: 0
		z-index: -2
		@include _gradientDiagonal(#ffa400, #ff8100)

		@include _breakpointMax($BreakpointTabletSm)
			margin: -15px

	&::after
		background: $White
		border-radius: inherit
		bottom: 0
		box-shadow: 0 0 7px rgba(#000, .5)
		content: ''
		left: 0
		position: absolute
		right: 0
		top: 0
		z-index: -1

	> div
		position: relative
		z-index: 1
		width: 100%

	.btn.btn-sm span
		padding: 7.5px 15px 8.5px

	h1
		font-family: $HeadingFont
		font-size: _pxToEm(36px)
		font-weight: 500
		line-height: 1.25
		letter-spacing: normal
		margin-bottom:  25px
		text-transform: none

		@include _breakpointMax($BreakpointTabletSm)
			font-size: _pxToEm(27px)


button.close
	color: $White
	font-family: $HelveticaNeue
	font-size: 40px
	font-weight: 200
	outline: none!important
	position: absolute
	right: 15px
	text-shadow: none
	top: 0
	z-index: 1
	@include _opacity(1, 100)
	@include _transition()

	&:hover
		color: $PrimaryColor
