.permalink

	.sub-section

		&.highlights
			padding-bottom: 20px

		&.team
			padding-bottom: 0

		h2
			margin-bottom: 60px

// Lead In

.lead-in
	font-family: $HeadingFont
	font-size: _pxToEm(27px)
	font-weight: 500
	margin-bottom: 80px
	text-align: center

// Upgrade Options

ul.upgrade-options
	list-style: none
	margin: 30px 0 0
	padding: 0

	li
		border-bottom: 1px solid $GreyDark
		font-weight: bold
		margin-bottom: 5px
		padding-bottom: 5px
		position: relative

		span
			font-size: .85em
			font-weight: normal
			position: absolute
			right: 0
			top: 50%
			@include _transform(translateY(-50%))

.button-group

		a
			margin-left: 5px
			margin-right: 5px

			@include _breakpointMax($BreakpointTablet)
				margin-bottom: 20px

			&:last-child
				margin-bottom: 0
