// Row Form

.row.row-form
	margin-bottom: 20px
	margin-left: -10px
	margin-right: -10px

	&:last-child
		margin-bottom: 0

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
		padding-left: 10px!important
		padding-right: 10px!important

	.col-sm-city
		@include _breakpointMax(575px)
			margin-bottom: 20px

// Inputs

@include _placeholder(#afafaf)

.form-control,
.gform_wrapper input[type="text"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="tel"],
.gform_wrapper select,
.gform_wrapper textarea
	background-color: #fff
	border: 1px solid $Grey
	border-radius: 4px
	color: #495057
	font-size: 13px!important
	font-weight: 400!important
	height: calc(1.5em + .75rem + 2px)!important
	line-height: 1.5!important
	margin-bottom: 0!important
	padding: 21.5px 10px!important
	@include _transition()

	&:focus
		border-color: $PrimaryColor
		box-shadow: none
		outline: none

select.form-control,
.gform_wrapper select
	height: 45px

.gform_wrapper textarea
	min-height: 150px

.gform_wrapper li.hidden_label input
	margin-top: 0!important

.gform_fields


	li
		margin: 0 0 20px!important
		padding: 0!important

		&:last-child
			margin-bottom: 0!important

		.ginput_container
			margin-top: 0!important

.gform_wrapper .gform_footer
	margin: 0!important

.gform_wrapper input[type="submit"]
	background: none
	border: none
	border-bottom: 1px solid $PrimaryColor
	font-weight: bold
	padding: 0
	text-transform: uppercase
	@include _transition()

	&:hover
		color: $Grey

	// &::before
	// 	background: $PrimaryColor
	// 	bottom: 0
	// 	content: ''
	// 	height: 1px
	// 	left: 0
	// 	position: absolute
	// 	width: 100%
	//
	// &::after
	// 	background: url('../images/icon-more-alt.svg') center center no-repeat
	// 	background-size: 16px
	// 	content: ''
	// 	height: 16px
	// 	position: absolute
	// 	right: -25px
	// 	top: 50%
	// 	width: 16px
	// 	@include _transition()
	// 	@include _transform(translate(0, -50%))
	//
	// &:hover
	// 	color: $Grey
	//
	// 	&::after
	// 		@include _transform(translate(2.5px, -50%))

// Checkbox

.checkbox-group
	margin-top: 15px
	width: 100%

	ul
		list-style: none
		margin: 0
		padding: 0

		li
			color: $Black
			cursor: pointer
			font-size: _pxToEm(12px)
			padding-left: 30px
			position: relative
			text-align: left
			@include _transition()

			&:before
				background: $SecondaryColor
				border-radius: 50%
				content: ''
				height: 12px
				left: 4px
				position: absolute
				top: 4px
				width: 12px
				z-index: 1
				@include _opacity()

			&::after
				border: 2px solid $SecondaryColor
				border-radius: 50%
				content: ''
				height: 20px
				left: 0
				margin-top: -10px
				position: absolute
				top: 50%
				width: 20px
				@include _transition()

			a
				color: $Black

			&.checked
				color: $Black

				&::before
					@include _opacity(1, 100)
