html,
body
	font-family: $PrimaryFont
	min-width: 320px
	width: 100%

body
	font-size: $BaseFontSize
	line-height: 1.5

	@include _breakpointMax($BreakpointMobile)
		font-size: 13px

.container

	&.container-xs
		max-width: 590px

	&.container-sm
		max-width: 770px

	&.container-md
		max-width: 990px

	&.container-lg
		max-width: 1024px

.container-block
	margin-bottom: 80px

	&.container-shrink-30
		margin-bottom: 50px

		&:last-child
			margin-bottom: -30px

	&:last-child
		margin-bottom: 0

// Collapse

.collapse
	margin: 0!important
	padding: 0!important

.collapse-top
	margin-top: 0!important
	padding-top: 0!important

.collapse-bottom
	margin-bottom: 0!important
	padding-bottom: 0!important

.collapse-left
	margin-left: 0!important
	padding-left: 0!important

.collapse-right
	margin-right: 0!important
	padding-right: 0!important

.collapse-x
	margin-left: 0!important
	margin-right: 0!important
	padding-left: 0!important
	padding-right: 0!important

.collapse-y
	margin-bottom: 0!important
	margin-top: 0!important
	padding-bottom: 0!important
	padding-top: 0!important
