/* Icon Styles
 *---------------------------------------- */
.icon
	display: inline-block
	line-height: 1
	position: relative

	&.icon-btn
		height: 15px
		margin-right: 10px
		margin-top: -5px
		top: 4px
		width: 15px

	&.icon-text
		height: 15px
		margin-right: 2px
		margin-top: -5px
		top: 4px
		width: 15px

	&.icon-social
		height: 30px
		width: 30px

	svg
		height: 100%
		width: 100%

.icon-stroke
	fill: none
	stroke: currentColor
	stroke-miterlimit: 10

	&.icon-stroke-2
		stroke-width: 2px

.icon-fill
	fill: currentColor

.icon-fill-stroke
	fill: currentColor
	stroke: currentColor
	stroke-miterlimit: 10
	stroke-width: .6px
