/* Responsive
 *---------------------------------------- */
@mixin _breakpointMin($BreakPoint)
	@media only screen and (min-width: $BreakPoint)
		@content

@mixin _breakpointMax($BreakPoint)
	@media only screen and (max-width: $BreakPoint)
		@content

/* Gradients
 *---------------------------------------- */
@mixin _gradientHorizontal($leftColor, $rightColor, $start: 0%, $stop: 100%)
	background: -moz-linear-gradient(left,  $leftColor $start, $rightColor $stop)
	background: -webkit-gradient(linear, left top, right top, color-stop($start, $leftColor), color-stop($stop, $rightColor))
	background: -webkit-linear-gradient(left,  $leftColor $start, $rightColor $stop)
	background: -o-linear-gradient(left,  $leftColor $start, $rightColor $stop)
	background: -ms-linear-gradient(left,  $leftColor $start, $rightColor $stop)
	background: linear-gradient(to right,  $leftColor $start, $rightColor $stop)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$leftColor', endColorstr='$rightColor', GradientType=1 )

@mixin _gradientVertical($topColor, $bottomColor, $start: 0%, $stop: 100%)
	background: -moz-linear-gradient(top, $topColor $start, $bottomColor $stop)
	background: -webkit-gradient(linear, left top, left bottom, color-stop($start, $topColor), color-stop($stop, $bottomColor))
	background: -webkit-linear-gradient(top, $topColor $start, $bottomColor $stop)
	background: -o-linear-gradient(top, $topColor $start, $bottomColor $stop)
	background: -ms-linear-gradient(top, $topColor $start, $bottomColor $stop)
	background: linear-gradient(to bottom, $topColor $start, $bottomColor $stop)

@mixin _gradientDiagonal($topColor, $bottomColor, $deg180: -45deg, $deg360: 135deg)
	background: -moz-linear-gradient($deg180, $topColor 0%, $bottomColor 100%)
	background: -webkit-linear-gradient($deg180, $topColor 0%, $bottomColor 100%)
	background: linear-gradient($deg360, $topColor 0%, $bottomColor 100%)

@mixin _gradientMulti($topColor, $middleColor, $bottomColor, $start: 0%, $middle: 50%, $stop: 100%)
	background: -moz-linear-gradient(top, $topColor $start, $middleColor $middle, $bottomColor $stop)
	background: -webkit-linear-gradient(top, $topColor $start, $middleColor $middle, $bottomColor $stop)
	background: linear-gradient(to bottom, $topColor $start, $middleColor $middle, $bottomColor $stop)

@mixin _gradientText($topColor, $bottomColor, $direction: vertical)
	@if $direction == vertical
		background: -webkit-linear-gradient($topColor, $bottomColor)
		background: -o-linear-gradient($topColor, $bottomColor)
		background: -moz-linear-gradient($topColor, $bottomColor)
		background: linear-gradient($topColor , $bottomColor)

	@if $direction == horizontal
		background: -webkit-linear-gradient(left, $topColor, $bottomColor)
		background: -o-linear-gradient(right, $topColor, $bottomColor)
		background: -moz-linear-gradient(right, $topColor, $bottomColor)
		background: linear-gradient(to right, $topColor , $bottomColor)

	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

/* Transforms / Transitions
 *---------------------------------------- */
@mixin _transition($speed: .15s, $property: all, $type: linear)
	-webkit-transition: $property $speed $type
	-moz-transition: $property $speed $type
	-ms-transition: $property $speed $type
	-o-transition: $property $speed $type
	transition: $property $speed $type

@mixin _transitionDelay($length)
	-moz-transition-delay: $length
	-ms-transition-delay: $length
	-o-transition-delay: $length
	-webkit-transition-delay: $length
	transition-delay: $length

@mixin _transform($transform, $origin: left top)
	-moz-transform: $transform
	-moz-transform-origin: $origin
	-ms-transform: $transform
	-ms-transform-origin: $origin
	-o-transform: $transform
	-o-transform-origin: 100% 0
	-webkit-transform: $transform
	-webkit-transform-origin: $origin
	transform: $transform
	transform-origin: $origin

/* Colums
 *---------------------------------------- */
@mixin _flexbox()
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

@mixin _flex($values)
	-webkit-box-flex: $values
	-moz-box-flex:  $values
	-webkit-flex:  $values
	-ms-flex:  $values
	flex:  $values

@mixin _columns($width, $columns)
	columns: $width $columns
	-webkit-columns: $width $columns
	-moz-columns: $width $columns

/* Filters
 *---------------------------------------- */
@mixin _opacity($amount: 0, $ie: 0)
	filter: alpha(opacity=$ie)
	opacity: $amount
	zoom: 1

@mixin _blur($amount)
	filter: blur($amount)
	-moz-filter: blur($amount)
	-webkit-filter: blur($amount)

@mixin _greyscale($amount)
	filter: grayscale($amount)
	-webkit-filter: grayscale($amount)

/* Helpers
 *---------------------------------------- */
@mixin _clearfix()
	zoom: 1

	&::after
		content: ''
		display: table
		clear: both

@mixin _placeholder($color)
	\::-webkit-input-placeholder
		color: $color

	\:-moz-placeholder
		color: $color

	\::-moz-placeholder
		color: $color

	\:-ms-input-placeholder
		color: $color

@mixin _selection($color)
	\::selection
		background: $color

	\::-moz-selection
		background: $color

@mixin _spinner($color, $bgColor, $strokeSize, $diameter, $sides)
	border: $strokeSize solid $bgColor
	font-size: $diameter
	width: 1em
	height: 1em
	border-radius: .5em
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	-webkit-animation: spin 1s linear infinite
	-moz-animation: spin 1s linear infinite
	animation: spin 1s linear infinite
	border-top-color: $color

	@if $sides >= 2
		border-right-color: $color

	@if $sides >= 3
		border-bottom-color: $color

/* Animations
 *---------------------------------------- */
//@mixin _animate($name: fadeIn, $duration: 1s, $delay: 0s, $function: ease, $mode: forwards)
	//@include animation($name $duration $function)
	//@include animation-fill-mode($mode)
	//@include _animationDelay($delay)

@mixin _animate($name, $duration: 1s, $function: ease)

	-webkit-animation: $name $duration forwards
	-moz-animation:    $name $duration forwards
	-o-animation:      $name $duration forwards
	animation:         $name $duration forwards

@-webkit-keyframes check
	0%
		@include _transform(scale(0), center center)

	90%
		@include _transform(scale(1.25), center center)

	100%
		@include _transform(scale(1), center center)

@-moz-keyframes check
	0%
		@include _transform(scale(0), center center)

	90%
		@include _transform(scale(1.25), center center)

	100%
		@include _transform(scale(1), center center)

@-o-keyframes check
	0%
		@include _transform(scale(0), center center)

	90%
		@include _transform(scale(1.25), center center)

	100%
		@include _transform(scale(1), center center)

@keyframes check
	0%
		@include _transform(scale(0), center center)

	90%
		@include _transform(scale(1.25), center center)

	100%
		@include _transform(scale(1), center center)
