h1,
h2,
h3,
h4,
h5,
h6,
	font-family: $HeadingFont
	font-weight: 500
	line-height: 1.25
	margin: 0
	padding: 0

	&.underline
		position: relative

		&::after
			background: $PrimaryColor
			bottom: -10px
			content : ''
			height: 3px
			left: 50%
			position: absolute
			width: 100px
			@include _transform(translateX(-50%))

		&.underline-left

			&::after
				left: 0
				@include _transform(translateX(0))

			span
				display: block
				font-size: .5em
				font-family: $PrimaryFont
				padding-bottom: 10px

h1
	font-size: _pxToEm(42px)

h2
	font-size: _pxToEm(42px)
	margin-bottom: 10px

	span
		color: #9d9d9d
		display: block
		font-family: $PrimaryFont
		font-size: .35em
		letter-spacing: 2px
		text-transform: uppercase

h3
	font-size: _pxToEm(26px)
	margin-bottom: 10px

h4
	font-size: _pxToEm(20px)
	margin-bottom: 10px

h5
	font-family: $PrimaryFont
	font-size: _pxToEm(15px)
	font-weight: 700
	text-transform: uppercase

p

	&:last-child
		margin-bottom: 0
