body.postid-1124 .marquee-medallion > div {
  text-align: center;
  margin-left: -1.1rem;
  width: 20rem;
  max-width: 100%;
}

body.page-id-251 .marquee-medallion > div {
  text-align: center;
  margin-left: -1.1rem;
  width: 20rem;
  max-width: 100%;
}