.event-block
	border: 1px solid $Black
	border-radius: 5px
	color: inherit
	display: block
	padding: 20px
	text-decoration: none!important

	@include _breakpointMax($BreakpointTabletSm)
		margin-bottom: 30px

	&:hover
		color: inherit
		@include _opacity(.5, 50)
		@include _transition()

	.event-date
		color: #9d9d9d
		display: block
		font-family: $PrimaryFont
		font-size: .85em
		letter-spacing: 2px
		margin-bottom: 10px
		text-transform: uppercase

		strong
			display: block

	address
		font-size: .85em
		margin-bottom: 0
