// Circle

.spinner
	left: 50%
	margin: -.5em 0 0 -.5em
	position: absolute
	top: 50%
	z-index: 9999
	@include _spinner($White, rgba(0, 0, 0, .15), 1px, 20px, 1)


@-webkit-keyframes spin
	to
		transform: rotate(360deg)
		-ms-transform: rotate(360deg)
		-webkit-transform: rotate(360deg)


@-moz-keyframes spin
	to
		transform: rotate(360deg)
		-ms-transform: rotate(360deg)
		-webkit-transform: rotate(360deg)


@keyframes spin
	to
		transform: rotate(360deg)
		-ms-transform: rotate(360deg)
		-webkit-transform: rotate(360deg)

// Elipse
.elipse
	display: none
	left: 50%
	margin: -20px 0 0 -35px
	position: absolute
	top: 50%
	width: 70px
	text-align: center

.elipse > div
	background-color: $White
	border-radius: 100%
	display: inline-block
	height: 5px
	width: 5px

	-webkit-animation: bounceDelay 1.4s infinite ease-in-out both
	animation: bounceDelay 1.4s infinite ease-in-out both

.elipse .bounce1
	-webkit-animation-delay: -0.32s
	animation-delay: -0.32s

.elipse .bounce2
	-webkit-animation-delay: -0.16
	animation-delay: -0.16s

@-webkit-keyframes bounceDelay
	0%, 80%, 100%
		-webkit-transform: scale(0)

	40%
		-webkit-transform: scale(1.0)

@keyframes bounceDelay
	0%, 80%, 100%
		-webkit-transform: scale(0)
		transform: scale(0)
	40%
		-webkit-transform: scale(1.0)
		transform: scale(1.0)
